---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% assign related = site.categories[page.categories.first] | default: site.posts %}
    {% assign count = 0 %}
    {% for post in related %}
      {% if post.id != page.id %}
        <li>
          <h3>
            <a href="{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </h3>
        </li>
        {% assign count = count | plus: 1 %}
        {% if count == 3 %}
          {% break %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
